<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>    
    <table>
        <tr>
            <th>Name</th>
            <th>price</th>
            <th>view</th>
        </tr>
        <% product_list.forEach(function(product){ %>
            <tr>
                <th><%=product.name %></th>
                <th>Rs. <%=product.price %></th>
                <th><a href="/product/<%=product._id %>">View prodcut Detail</a></th>
            </tr>
        <% }); %>
    </table>

</body>
</html>