body {
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    color: #3e5569;
    background: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

#main-wrapper {
    width: 100%;
    overflow: hidden;
}

.left-sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    z-index: 10;
    padding-top: 10x;
    background: #efefef;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.sidebar-nav ul.sidebarnav {
    margin: 0px;
    padding: 0px;
}

.left-sidebar ul.sidebarnav li {
    list-style: none; 
}

ul.sidebarnav li a {
    color: #3e5569;
    text-decoration: none;
    white-space: nowrap;
    line-height: 25px;
    opacity: 0.9;
}

.page-wrapper {
    background: #eef5f9;
    position: relative;
    margin-left: 250px;
}

.page-wrapper>.page-container {
    padding: 20px;
    min-height: calc(100vh - 40px);
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin-bottom: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    flex: 1 1 auto;
    padding: 1.25rem;
}